failed.txt
success.txt
help/
push_to_git.sh
post_commit_ezhil.py
MANIFEST
*.py[cod]
*~
website/lib
website/lib/*
web/ICONS/
web/ICONS/*
Notes/
Notes/*
ezhil_tests/names.txt
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
ezhil_tests/ezhil_builtins_june2013.txt
Notes/Rosetta
